body { background: #fff; margin: 0; padding: 0; }
body { font-family: Arial; color: #888; }

.left { float: left; }

a { color: #888; text-decoration: none; }
a:hover { color: #222; text-decoration: underline }
a:visited { color: #888; }

a.download { text-decoration: underline; }

ul { margin: 0; padding: 0 }
li { color: #888; margin-bottom: 5px; }
li span { display: block; width: 630px; margin: 0 auto; padding-left: 250px; }
li a { text-transform: uppercase; font-size: 11px; letter-spacing: 2px; }


h1 { padding: 20px 0; margin: 0; font-family: "Trebuchet MS", serif; font-size: 100px; color: #222; font-weight: normal; line-height: 80px; }
h4 { padding: 20px 0; padding-left: 200px; margin: 0; margin-left: 350px; font-family: "Comic Sans MS", serif; font-size: 20px; color: #222; font-weight: normal; line-height: 10px;}

#logo {
        margin: 10px auto 10px 200px;
	margin-right: 50px;
        width: 200px;
	height: 192px;		
        background: url(../images/img.png)no-repeat;
	float: left;
	transition: transform 0.5s ease;
	-webkit-transition: -webkit-transform 0.5s ease;
	-moz-transition: -moz-transform 0.5s ease;
	-o-transition: -o-transform 0.5s ease;
	    
}

#logo:hover {
	transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
}

h1 #text {
	margin-right: 250px;
	margin-top: 220px;
	float: right;
}

#footer {
	margin: 10px auto;	
	width: 640px;
	padding-left: 240px;

}


.container {
        width: 450px;
        padding-left: 100px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 160%;
}
p { margin-bottom: 20px; }

.container a { text-decoration: underline; color: #ED7E8F; }

#accordion h3 { text-transform: uppercase; font-size: 11px; letter-spacing: 2px; }
#accordion .ui-accordion-header { border: none; background: none; width: 630px; margin: 0 auto; padding-left: 230px; }
#accordion .ui-icon { display: none; }
#accordion .ui-accordion-content { padding: 0; margin: 0; border: none; }


fieldset label { display: block; margin-bottom: 5px; }
fieldset input[type=text],
fieldset textarea {
        width: 300px;
        border: 1px solid #ccc;
        padding: 5px;
        font-size: 14px;
}
fieldset textarea {
        width: 600px;
        height: 200px;
}

.meta {
        margin-top: 25px;
}

.gallery {
        width: 680px;
        margin: 0 auto;
        position: relative;
        padding-left: 300px;
}

.gallery .info {
		position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        font-size: 11px;
        text-align: left;
}

.gallery img { 
		float: left;
        margin-right: 10px;
        width: 200px; 
        margin-bottom: 10px;
}